.side-bar {
  background-color: #f2c231ff;
}

.site-title {
  color: #38761dff;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, #38761d44 100%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

.nav-list .nav-list-item .nav-list-expander:hover {
  background-image: linear-gradient(-90deg, #38761d44 100%, rgba(235, 237, 245, 0.8) 100%);
}

.site-title:hover {
  background-image: linear-gradient(-90deg, #38761dff 100%, #f2c231ff 0%);
  color: #ffffff;
}

.search-result:hover, .search-result.active {
  background-color: #f2c23144;
}

.site-header {
  border-bottom: 1px solid #38761d77;
}

.site-button:hover {
  background-image: linear-gradient(-90deg, #f2c231ff 100%, rgba(235, 237, 245, 0.8) 0%);
}