.side-bar {
  background-color: #f2c23122;
}
.site-title {
  color: #38761dff;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, #f2c231aa 100%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}

.nav-list .nav-list-item .nav-list-expander:hover {
  background-image: linear-gradient(-90deg, #f2c231aa 100%, rgba(235, 237, 245, 0.8) 100%);
}

.site-title:hover {
  background-image: linear-gradient(-90deg, #f2c231ff 100%, #f2c231aa 0%);
}

.search-result:hover, .search-result.active {
  background-color: #f2c23122;
}